/* FOR SMALLER DESKTOPS */

@media (max-width: 84em) {
    .hero {
      max-width: 120rem;
    }
    .heading-primary {
      font-size: 4.4rem;
    }
  
    .container-mid {
      max-width: 120rem;
    }
  }
  
  @media (max-width: 77em) {
    html {
      font-size: 57%;
    }
    .hero {
      max-width: 115rem;
    }
    .heading-primary {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 71em) {
    .container-mid {
      max-width: 114rem;
    }
  }
  
  @media (max-width: 68em) {
    html {
      font-size: 52%;
    }
  
    .container-mid {
      max-width: 114rem;
    }
  }
  
  @media (max-width: 61em) {
    html {
      font-size: 48%;
    }
    .container-mid {
      max-width: 110rem;
    }
  
    .hero {
      gap: 4rem;
    }
  }
  
  @media (max-width: 57em) {
    html {
      font-size: 52%;
    }
  
    .container {
      max-width: 102em;
    }
  
    .grid {
      column-gap: 4.4em;
    }
    .header {
      padding: 1.2rem 3.8rem;
    }
  
    .hero {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 0.7fr;
      gap: 8rem;
    }
  
    .description-text-hero {
      padding: 0 10rem;
    }
  
    .hero-text-part {
      text-align: center;
    }
  
    .hero-image-part {
      justify-content: center;
    }
  
    .hero-img {
      width: 70%;
      height: 100%;
    }
  
    .hero-image-part::before,
    .hero-image-part::after {
      content: none;
    }
  
    .about-me {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 4rem;
    }
  
    .abt-me-img {
      width: 45%;
    }
    .about-me-text {
      max-width: 80em;
      margin: 0 auto;
    }
  
    .description-text-about {
      padding: 1em 3em;
      text-align: center;
    }
  
    .grid-footer {
      gap: 4.6em 2em;
    }
  
    .foot-container {
      max-width: 87em;
    }
  
    .other-col {
      column-gap: 7rem;
    }
  
    /* MOBILE */
  
    .btn-mobile-nav {
      display: block;
      justify-self: end;
      z-index: 69;
    }
    .header {
      justify-content: space-between;
    }
  
    .main-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: #111111cf;
      backdrop-filter: blur(10px);
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      gap: 3.2rem;
      flex-direction: column;
      transition: all 1s ease-in-out;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
  
      transform: translateX(100%);
    }
  
    .nav-open .mobile-icon-nav[name="close"] {
      display: block;
    }
    .nav-open .mobile-icon-nav[name="menu"] {
      display: none;
    }
  
    .main-nav-list {
      flex-direction: column;
    }
  
    .main-nav-links,
    .main-nav-links:link,
    .main-nav-links:visited {
      font-size: 3rem;
    }
  
    .nav-open .main-nav {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      transform: translateX(0);
    }
  }
  
 