



/* Header*/

.header {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 0.4fr 1fr;
    height: 8rem;
	padding: 1.2rem 4.8rem;
    position: relative;
}

.logo {
	display: flex;
	padding-right: 22rem;
	justify-content: space-around;
	align-items: center;
	
}


.logo-image{
	height: 3rem;
	padding-right: 3rem;
	
}

.logo-text{
	letter-spacing: 0.3rem;
	font-size: 3rem;
	background: linear-gradient(to right, #007bff, #00bfff);
    -webkit-background-clip: text;
    background-clip: text;
	color: transparent;

	position: relative;
	right: 2rem;
	
	
}

.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}


.mobile-icon-nav {
	font-size: 3.2rem;
}

.mobile-icon-nav[name="close"] {
	display: none;
}

/* Sticky NavBar */

.header {
	display: grid;
	/* background-color: #000; */
	align-items: center;
	grid-template-columns: 0.4fr 1fr;
	padding: 1.2rem 4.8rem;
	height: 10rem;
	position: relative;
}

.sticky .header {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 8rem;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #06273e;
	z-index: 999;
	box-shadow: 0 1.2rem 3.2rem rgba(255, 255, 255, 0.03);
}

.sticky .section-hero {
	margin-top: 9.6rem;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
	list-style: none;
	
	right: 10rem;
	align-items: center;
	gap: 4.8rem;
}


.nav-links:link,
.nav-links:visited {

	font-size: 1.8rem;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s;
}

.nav-links:hover,
.nav-links.active{
	color: #00abf0;
	font-weight: 600;
}

.nav-links:hover{
	padding-bottom: 5px;
	border-bottom: 1px solid #3e65db;
}

#menu-icon{
	font-size: 2.8rem;
	color: #ededed;
	cursor: pointer;
	display: none;
}



.section-hero {
	padding: 3.8rem 0 5.2rem 0;
}

.hero {
	display: grid;
	grid-template-columns: 1.05fr 0.95fr;
	margin: 0 auto;
	max-width: 130rem;
	padding: 0 3.2rem;
	gap: 10rem;
}

.hero-text-part .heading-primary {
	margin-bottom: 5rem;
}

.description-text-hero {
	color: #c0c0c0;
	font-weight: 400;
	font-size: 1.8rem;
	margin-bottom: 5.2rem;
	line-height: 2.6rem;
}

.hero-btn .btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 100%;
	background-color: #00abf0;
	border: .2rem solid #00abf0;
	border-radius: .8rem;
	font-size: 1.6rem;
	font-weight: 800;
	letter-spacing: .1;
	color: #0b0b0b;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
}

.hero-btn .btn:nth-child(2) {
	background: transparent;
	color: #00abf0;
	width: 22rem;
}

.hero-btn .btn:nth-child(2)::before {
	background: #00abf0;
}

.hero-btn .btn:hover {
	color: #050505;
}

.hero-btn .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #081b29;
	z-index: -1;
	transition: .5s;
}

.hero-btn .btn:hover::before {
	width: 100%;
}

.social-links{
	display: block;
	margin-top: 5.2rem;
	gap: 1.2rem;
	
	
}

.social-icon {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #00abf0;
	font-size: 3rem;
	margin-right: 0.8rem;
	transition: all 0.2s;
	background: transparent;
	border: .2rem solid #00abf0;
	border-radius: 50%;
	width: 3.5rem;
	height: 3.5rem;
	padding: 0.4rem;
	z-index: 1;
	overflow: hidden;
	
}

.social-icon:hover{
	color: #050505;
}

.social-icon::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: #00abf0;
	z-index: -1;
	transition: 1s;
}

.social-icon:hover::before{
	width: 100%;
	
	transform: scale(1.2);
}



.hero-img {
	width: 100%;
	height: 100%;
	border-radius: 9px;
}

.hero-image-part {
	position: relative;
	z-index: 1;
	display: flex;
	
}

.hero-image-part::before,
.hero-image-part::after {
	content: "";
	display: block;
	border-radius: 30%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-image-part::before {
	width: 110%;
	padding-bottom: 100%;
	background-color: #0d283b;
	z-index: -2;
}

.hero-image-part::after {
	width: 80%;
	padding-bottom: 80%;
	background-color: #133146;
	z-index: -1;
}

.description-text{
	font-size: 2rem;
}


.hero-text-part {
	align-self: center;
}

.hero-text-part .heading-primary {
	margin-bottom: 5rem;
}




/* ABOUT ME SKILLS */

.abt-me-img {
	width: 100%;
	height: 100%;
}

.section-about-me {
	margin: 10rem 0 6rem 0;
	padding: 2.4rem 0 4.2rem 0;
}

.about-me {
	display: grid;
	grid-template-columns: 0.35fr 0.65fr;
	align-items: center;
	justify-content: space-between;
	gap: 9rem;
	margin: 2.8rem 0 0 0;
}

.description-text-about {
	color: #c0c0c0;
	font-weight: 400;
	font-size: 1.8rem;
	margin-bottom: 4.8rem;
}

.about-me-text {
	background-color: #0c263f;
	padding: 1.8rem;
	border-radius: 15px;
}

.about-me-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5.2rem;
}

/* SECTION SKILLS */

.section-skills {
	padding: 3.6rem 0 3.6rem 0;
}

.logos {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	margin: 4rem 0 0.8rem 0;
	font-size: 2.4rem;
	justify-content: center;
	opacity: 75%;
	transition: all 0.5s;
}
.logo {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	justify-self: center;
}

.logo:hover {
	color: #00abf0;
}

.services-description {
	display: inline-block;
	max-width: 80rem;
	text-align: center;
	color: #c0c0c0;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.6;
	margin-bottom: 3rem;
}

.cta-description {
	display: inline-block;
	text-align: center;
	color: #c0c0c0;
	font-weight: 400;
	font-size: 1.8rem;
	max-width: 85rem;
	line-height: 1.9;
	margin-bottom: 3rem;
}

.services-box {
	background-color: #0c263f;
	box-shadow: 0 1.4rem 3.8rem rgba(51, 51, 87, 0.033);
	border-radius: 11px;
	overflow: hidden;
	transition: all 0.4s;
	padding: 3.6rem 2.4rem 3.6rem 2.4rem;
	position: relative;
}

.services-box:hover {
	transform: translateY(-1.6rem);
}

.service-img {
	width: 9rem;
	height: 9rem;
	
}

.service-details {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

.service-icon {
	width: 1.8rem;
	height: 1.8rem;
}
.service-detail {
	font-size: 1.4rem;
	list-style: none;
	display: flex;
	gap: 1rem;
}



/* SECTION CTA */

.cta-form label {
	display: block;
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 1.2rem;
	text-align: left;
}

.cta-img {
	width: 100%;
	height: 100%;
}

.section-cta {
	background-color: #081b29;
	margin-bottom: 6.8rem;
}
.cta {
	display: grid;
	padding: 4.8rem;
	grid-template-columns: 0.65fr 0.35fr;
	box-shadow: 0 2.4rem 4.8rem #0c263f;
	border-radius: 11px;
	column-gap: 5.2rem;
}

.cta-form {
	display: grid;
	grid-template-columns: 0.45fr 0.55fr;
	grid-template-rows: 1fr 3fr 1fr;
	column-gap: 3.2rem;
}

.cta-form label {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}

.cta-message {
	grid-column: 1 / 3;
}

.cta-select {
	grid-column: 1 / 2;
}

.cta-form input,
.cta-form select {
	width: 100%;
	padding: 1.2rem 1.2rem 1.2rem 4.2rem;
	font-size: 1.7rem;
	font-family: inherit;
	color: inherit;
	border: none;
	background-color: #171717;
	border-radius: 9px;
	box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.cta-form textarea {
	padding-left: 4.6rem;
}

.message-field {
	font-size: 1.7rem;
	color: inherit;
	font-family: inherit;
	width: 100%;
	padding: 1.6rem 0 12rem 2.4rem;
	border-radius: 9px;
	background-color: #191919;
	border: 1px solid rgba(75, 72, 72, 0.1);
	resize: none;
	height: auto;
}

.form-icon {
	background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#007bff),
        color-stop(29%, #00bfff),
        color-stop(58%, #00d1ff),
        to(#a3e7ff)
    );
    background-image: linear-gradient(
        90deg,
        #007bff,
        #00bfff 29%,
        #00d1ff 58%,
        #a3e7ff
    );
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.7rem;
	position: absolute;
}

.fa-user,
.fa-envelope {
	top: 18%;
	left: 1.4rem;
}

.fa-message-text {
	font-size: 1.8rem;
	top: 9%;
	left: 1.5rem;
}

.fa-square-chevron-down {
	font-size: 2rem;
	top: 55%;
	left: 1.5rem;
}
.cta-name,
.cta-email,
.cta-message,
.cta-select {
	position: relative;
}

.image-box {
	filter: brightness(80%);
}

.cta-submit {
	grid-column: 2 / 3;
	align-self: end;
}

.btn--submit {
	background-color: #00abf0;
	font-weight: 600;
	color: #0b0b0b;;
	width: 65%;
}

.key {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-flexbox;
	display: inline-flex;
	overflow: hidden;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

.key .btn--submit-content {
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

	width: 100%;
	padding: 1.2rem 3.8rem;
	gap: 1rem;

	font-size: 2rem;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	font-family: inherit;
}



.hero-btn .btn:hover::before{
	width: 100%;
}



.key .btn--submit-content:before {
	content: "";
	width: 100%;
	height: 108%;
	pointer-events: none;
	z-index: -1;
	position: absolute;
	top: -0.1em;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 9px;
	background: #3686d1a7;

	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn--submit-content:hover::before {
	transform: translateX(0%);
	border-radius: 1px solid #aaa;
}

.btn--submit-content:hover {
	color: #111112;
}





/* FOOTER SECTION */

.foot-container {
	max-width: 120rem;
	padding: 0 0 0 3.2rem;
	margin: 0 auto;
}

.grid--footer {
	display: grid;
	gap: 4.6rem 18rem;
	grid-template-columns: 0.4fr 0.6fr;
	margin-top: 6.4rem;
	justify-content: space-between;
}

.other-col {
	padding-top: 3.2rem;
	display: grid;
	grid-template-columns: 0.35fr 0.35fr 0.3fr;
}

.footer-heading {
	color: #fff;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 6.8rem;
	letter-spacing: 2px;
}

.info {
	display: flex;
	align-items: center;
	gap: 1.8rem;
	transition: all 0.3s ease-out;
}

.footer-img {
	width: 40%;
	margin: 1.2rem;
}

.contact-col {
	display: grid;
	grid-template-rows: 0.3fr 0.2fr 0.2fr 0.1fr;
	gap: 3.6rem 0;
}

.footer-icon {
	font-size: 1.6rem;
	color: #fff;
	background: linear-gradient(
		90deg,
        #007bff,
        #00bfff 29%,
        #00d1ff 58%,
        #a3e7ff
	);
	padding: 0.8rem;
	border-radius: 50%;
}

.contact-text {
	color: #fff;
	font-weight: 500;
	font-size: 2rem;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.contact-contents {
	display: grid;
	gap: 3.2rem;
}

.copyright {
	font-size: 1.4rem;
	line-height: 1.6;
	color: #cfcfcf;
	margin-top: auto;
}

.footer-nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.footer-link,
.footer-link:link,
.footer-link:visited {
	text-decoration: none;
	font-size: 1.6rem;
	color: #f2f2f2;
	transition: all 0.3s ease-out;
	padding-bottom: 0.6rem;
}

.footer-link-flex {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	transition: all 0.3s ease-in-out;
}

.footer-icon-social {
	font-size: 1.4rem;
}

.pages-col .footer-link:hover,
.footer-link:active {
	color: #fff;
	box-shadow: inset 0 -1px 0 #00d1ff;
}

.footer-link-flex:hover {
	color: #00abf0;;
}

.contact-text:hover {
	color: #00abf0;;
}

.reveal {
	position: relative;
	transform: translateY(8rem);
	opacity: 0;
	transition: all 1s ease-in-out;
}

.reveal.active {
	transform: translateY(0px);
	opacity: 1;
}

.cta {
	position: relative;
}

#popup {
	width: 40rem;
	background-color: #111111;
	border-radius: 1.2rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	padding: 0 3.2rem 3.2rem;
	text-align: center;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
	opacity: 0;
}

#popup.open-popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.popup-icon {
	font-size: 10rem;
	margin: 3rem 0 0 0.8rem;
}

.popup h2 {
	font-size: 4.8rem;
	font-weight: 600;
	margin: 3rem 0;
	transition: all 0.5s;
}

.popup p {
	font-size: 1.8rem;
	line-height: 2;
	font-weight: 500;
	text-align: center;
}

.popup button {
	width: 50%;
	margin-top: 4rem;
	padding: 1.2rem 3.6rem;
	color: #f2f2f2;
	font-weight: 600;
	font-size: 2rem;
	border-radius: 9px;
	border: none;
	background-color: #00d1ff;
	transition: all 0.3s;
	font-family: inherit;
	font-size: 1.8rem;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.04);
}

.main#blur.active,
.footer#blur--footer.active {
	filter: blur(10px);
	pointer-events: none;
	user-select: none;
	z-index: 69;
}

.popup-box {
	position: relative;
}

.popup-aside {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 78%;
	left: 50%;
}

.no-scroll {
	overflow: hidden;
}

