* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
	height: 100%;
    font-size: 62.5%;
	overflow-x: hidden;
	background: #081b29
}
body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	color: #b3b3b3;
	position: relative;
}



/* Transition */

a, .btn{
    transition: all 300 ms ease;
}

/* Header*/

.header {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 0.4fr 1fr;
    height: 8rem;
	padding: 1.2rem 4.8rem;
    position: relative;
}

.logo {
	display: flex;
	
	align-items: center;
	
}


.logo-image{
	height: 6rem;
	filter: invert(45%) sepia(97%) saturate(376%) hue-rotate(160deg) brightness(94%) contrast(84%);
}

.logo-text{
	letter-spacing: 0.3rem;
	font-size: 3rem;
	background: linear-gradient(to right, #007bff, #00bfff);
    -webkit-background-clip: text;
    background-clip: text;
	color: transparent;

	position: relative;
	right: 2rem;
	
	
}



.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
	list-style: none;
	
	right: 10rem;
	align-items: center;
	gap: 4.8rem;
}


.nav-links:link,
.nav-links:visited {

	font-size: 1.8rem;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s;
}

.nav-links:hover,
.nav-links.active{
	color: #00abf0;
	font-weight: 600;
}

.nav-links:hover{
	padding-bottom: 5px;
	border-bottom: 1px solid #3e65db;
}

#menu-icon{
	font-size: 2.8rem;
	color: #ededed;
	cursor: pointer;
	display: none;
}



.nav-btn:link,
.nav-btn:visited {
	
	font-size: 1.8rem;
	font-weight: 600;
	padding: 1.2rem 2.4rem;
	background-color: #06273e;
	border-radius: 9px;
}

.nav-btn:hover,
.nav-btn:active {
	box-shadow: inset 0 4px 2px -2px #3e65db;
}


.gradient-text {
	background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#007bff),
        color-stop(29%, #00bfff),
        color-stop(58%, #00d1ff),
        to(#a3e7ff)
    );
    background-image: linear-gradient(
        90deg,
        #007bff,
        #00bfff 29%,
        #00d1ff 58%,
        #a3e7ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-hero{
	padding: 3.8rem 0 5.2rem 0;
}


.hero{
	display: grid;
	grid-template-columns: 1.05fr 0.95fr;
	margin: 0 auto;
	max-width: 130rem;
	padding: 0 3.2rem;
	gap: 10rem;
}

.hero-text-part {
	align-self: center;
}

.hero-text-part .heading-primary {
	margin-bottom: 5rem;
}

.description-text-hero {
	color: #c0c0c0;
	font-weight: 400;
	font-size: 1.8rem;
	margin-bottom: 5.2rem;
	line-height: 2.6rem;
}




.btn,
.btn:link,
.btn:visited {
	font-size: 1.8rem;
	padding: 1.6rem 3.2rem;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	font-family: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
	color: #fff;
	font-weight: 600;

	background-color: #6f2582;
}

.btn--full:hover,
.btn--full:active {
	background-color: #5e176f;
}

.btn--outline {
	display: inline-flex;
	align-items: center;
	gap: 0.8rem;
	color: #c0c0c0;
	font-weight: 500;
}

.btn--outline:hover,
.btn--outline:active {
	background-color: #191919;
	box-shadow: inset 0 0 0 1px #c0c0c0;
}


.btn-box{
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 34.5rem;
	height: 4rem;
}



.btn-box .btn-hero{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 14rem;
	height: 100%;
	background-color: #00abf0;
	border: .2rem solid #00abf0;
	border-radius: .8rem;
	font-size: 1.6rem;
	font-weight: 800;
	letter-spacing: .1;
	color: #0b0b0b;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	
}


.btn-box .btn-hero::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #00abf0;
	z-index: -1;
	transition: .5s;
}

.btn-box .btn-hero:nth-child(2){
	background: transparent;
	color:#00abf0;
	width: 18rem;
}

.btn-box .btn-hero:nth-child(2)::before{
	background: #00abf0;
}

.btn-box .btn-hero:hover{
	color: #050505;
}

.btn-box .btn-hero::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #081b29;
	z-index: -1;
	transition: .5s;
}

.btn-box .btn-hero:hover::before{
	width: 100%;
}

.social-links{
	display: block;
	margin-top: 5.2rem;
	gap: 1.2rem;
	
	
}

.social-icon {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #00abf0;
	font-size: 3rem;
	margin-right: 0.8rem;
	transition: all 0.2s;
	background: transparent;
	border: .2rem solid #00abf0;
	border-radius: 50%;
	width: 3.5rem;
	height: 3.5rem;
	padding: 0.4rem;
	z-index: 1;
	overflow: hidden;
	
}

.social-icon:hover{
	color: #050505;
}

.social-icon::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: #00abf0;
	z-index: -1;
	transition: 1s;
}

.social-icon:hover::before{
	width: 100%;
	
	transform: scale(1.2);
}



.hero-img {
	width: 100%;
	height: 100%;
	border-radius: 9px;
}

.hero-image-part {
	position: relative;
	z-index: 1;
	display: flex;
	
}

.hero-image-part::before,
.hero-image-part::after {
	content: "";
	display: block;
	border-radius: 30%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-image-part::before {
	width: 110%;
	padding-bottom: 100%;
	background-color: #0d283b;
	z-index: -2;
}

.hero-image-part::after {
	width: 80%;
	padding-bottom: 80%;
	background-color: #133146;
	z-index: -1;
}

.description-text{
	font-size: 2rem;
}


.hero-text-part {
	align-self: center;
}

.hero-text-part .heading-primary {
	margin-bottom: 5rem;
}




.heading-primary,
.heading-tertiary {
	font-weight: 600;
	color: #cfcfcf;
	letter-spacing: -0.5px;
}

.heading-primary {
	font-size: 4.8rem;
	line-height: 1.4;
	margin: 1.2rem 0 3.2rem 0;
	letter-spacing: -0.2rem;
}


.font-size--max {
	font-size: 5.2rem;
}

.heading-secondary {
	color: #cfcfcf;
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 4rem;
	text-align: left;
}

.heading-tertiary {
	font-size: 3.2rem;
	letter-spacing: -0.7px;
	line-height: 1.2;
	margin: 2.4rem 0 3rem 0;
	color: #c0c0c0;
}

.subheading {
	display: block;
	font-size: 1.6rem;
	color: #c0c0c0;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	opacity: 50%;
}

.animate-text{
	font-size: 3.2rem;
	display: block;
	line-height: 1.4;
	margin: 1.2rem 0 3.2rem 0;
	letter-spacing: -0.2rem;
}


.section-divider {
	border-top: 1px solid rgba(192, 192, 192, 0.25);
	border-bottom: 1px solid rgba(192, 192, 192, 0.25);
}

.container {
	max-width: 120rem;
	padding: 0 3.2rem;
	margin: 0 auto;
}

.container-mid {
	max-width: 125rem;
	margin: 0 auto;
}